*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.home
{
    height: 100vh;
    width: 100%;
    background-color: white;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8%;
    padding-left: 8%;
    background-color:#1a8bb7;
    border-bottom: 1px solid black;
}

.logo
{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span
{
    color: black;
}

nav ul li
{

    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    color: white;
}

 nav ul li a {

    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;

}


nav ul li a:hover {

transform: scale(1.2);
border: 2px solid red;
background-color: transparent;
    

}

.btn
{
    background-color: black;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 30px;
}

.btn:hover{
transform: scale(1.2);
border: 2px solid #0066ff;
background-color: transparent;
}

.image
{
    width: 60%;
    height: 70%;
    position: absolute;
    bottom: 0;
    right: 30px;
    transform: rotateY(180deg);
}

.image img 
{
    height: 100%;
    width:  100%;
    position: absolute;
    bottom: 0;
    right: 23%;
    transform: translateX(23%);

}

.content
{
    position: absolute;
    top: 60%;
    left: 8%;
    transform: translateY(-50%);
}

h4
{
    color: black;
    letter-spacing: 2px;
    font-size: 20px;
}

h1
{
    color: black;
    font-size: 65px;
    margin: 20px 0 20px;
}
h3
{
    color: black;
    font-size: 23px;
}

.content a 
{
    font-size: 20px;
    background: #0066ff;
    color: black;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    border: 2px solid white;
    
}

.content a:hover 
{
    background: transparent;
    border: 2px solid blue;
}





